<?xml version='1.0'?>
<methodCall>
    <methodName>execute</methodName>
    <params>
        <param>
        <value><string>$database</string></value>
        </param>
        <param>
        <value><int>$id</int></value>
        </param>
        <param>
        <value><string>$password</string></value>
        </param>
        <param>
        <value><string>$resource</string></value>
        </param>
        <param>
        <value><string>$operation</string></value>
        </param>
        <param>
        <value><struct>
            #foreach( $param in $parametersList )
                <member>
                    <name>$param.name</name>
                    <value><$param.type>$param.value</$param.type></value>
                </member>
            #end
        </struct></value>
        </param>
    </params>
</methodCall>
