<?xml version="1.0" encoding="UTF-8"?>

<module configVersion="1.2">
    <!-- Module Properties -->
    <id>${project.parent.artifactId}</id>
    <name>${project.parent.name}</name>
    <version>${project.parent.version}</version>
    <package>${project.parent.groupId}.${project.parent.artifactId}</package>
    <author>Thoughtworks</author>
    <description>
        ${project.parent.description}
    </description>
    <require_version>${openMRSRuntimeVersion}</require_version>
    <!-- Required Modules -->
    <require_modules>
        <require_module>org.ict4h.openmrs.openmrs-atomfeed</require_module>
        <require_module>org.openmrs.module.webservices.rest</require_module>
        <require_module>org.openmrs.module.emrapi</require_module>
        <require_module>org.openmrs.module.addresshierarchy</require_module>
    </require_modules>
    <activator>feed.FeedActivator</activator>
    <advice>
        <point>org.openmrs.api.ConceptService</point>
        <class>org.bahmni.module.referencedata.labconcepts.advice.ConceptServiceEventInterceptor</class>
    </advice>
    <advice>
        <point>org.openmrs.module.addresshierarchy.service.AddressHierarchyService</point>
        <class>org.bahmni.module.referencedata.addresshierarchy.AddressHierarchyEntryEventInterceptor</class>
    </advice>
    <!-- Module Activator -->
    <!-- Internationalization -->
    <!-- All message codes should start with ${project.parent.artifactId}. -->
</module>

